<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Swansey's About Me</title>
</head>
<body style="width:2000px; margin:auto; background-color:ghostwhite;">
    <h2 style = "width:1000px; margin:auto;">Welcome to the About Page</h2>
    <nav style="width: 1100px; margin:auto; background-color:ghostwhite; color:black;">
        <a href="index.html" style="text-decoration: underline; color:gray; width:200px; margin:auto;">Home Page</a>
        <a href="#" style="text-decoration: underline; color:gray; width:250px; margin-left:100px;">About Me</a>
        <a href="form.html" style="text-decoration: underline; color:gray; width:250px; margin-left:100px;">Form</a>
    </nav>
    <div>
        <p style="margin-left:200px;margin-right:200px; width:800px;">Et enim nulla dolor ex dolore aute quis officia excepteur. Id deserunt duis ex ut nulla sint dolore esse fugiat tempor sint. Commodo et fugiat quis in aute magna consequat consequat ipsum pariatur. Laboris elit irure excepteur nostrud exercitation exercitation aliqua labore anim sunt veniam non. Voluptate fugiat quis magna do aliqua ad esse consequat aliquip qui enim nisi officia. Ipsum proident amet consequat magna anim sit sunt enim nostrud aliquip voluptate sunt duis nisi.

Ut consectetur minim ex ipsum proident cupidatat qui. Sit reprehenderit laborum id non dolore adipisicing tempor ullamco est aliqua labore duis. Fugiat amet ullamco veniam do pariatur aliqua consequat sunt incididunt.

Culpa magna minim aute dolore anim velit.</p>
<br>
<p style="margin-left:200px;margin-right:200px; width:800px;"> Ad esse proident reprehenderit proident cupidatat occaecat amet cillum sit ullamco Lorem. Incididunt Lorem adipisicing aute nisi minim ad ut aliqua incididunt sint tempor esse enim sunt. Aliquip deserunt reprehenderit velit sunt veniam ipsum aliqua anim cillum. Laboris duis do ad adipisicing do magna quis culpa Lorem proident enim. Nulla elit qui in consequat adipisicing ut anim.

Irure laboris deserunt labore magna eiusmod consectetur mollit mollit mollit quis excepteur veniam. Occaecat commodo reprehenderit et sunt ea nisi nisi amet mollit eu proident enim eiusmod. Sunt aliquip ad consequat incididunt pariatur nulla nulla eiusmod elit. Ea magna deserunt consequat elit dolore cillum ad ullamco sit irure ut magna qui enim.</p>
    </div>
</html>