<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Swansey's Home Page</title>
    <style></style>
</head>
<body style="width:2000px; margin:auto; background-color:ghostwhite;">
    <h2 style = "width:1000px; margin:auto;">Welcome to the Home Page</h2>
    <nav style="width: 1100px; margin:auto; background-color:ghostwhite; color:black;">
        <a href="#" style="text-decoration: underline; color:gray; width:200px; margin:auto;">Home Page</a>
        <a href="about.html" style="text-decoration: underline; color:gray; width:250px; margin-left:100px;">About Me</a>
        <a href="form.html" style="text-decoration: underline; color:gray; width:250px; margin-left:100px;">Form</a>
    </nav>
    <div>
        <p style="margin-left:200px;margin-right:200px; width:800px;">Nostrud adipisicing dolore dolore laborum sint ex est reprehenderit dolor laboris ullamco excepteur incididunt magna. Laboris adipisicing consectetur minim excepteur pariatur nulla anim magna cupidatat fugiat nisi. Veniam culpa voluptate incididunt aute ullamco enim.

Labore sint ipsum ea consequat elit dolor. Elit do consectetur magna ullamco esse eu. Dolor nulla ullamco amet adipisicing ullamco ipsum eu consectetur. Reprehenderit anim mollit aute nulla tempor anim voluptate commodo laborum dolore. Pariatur occaecat nisi in occaecat adipisicing nisi ipsum esse incididunt dolore.

Aute id anim cillum cillum aute cupidatat duis ullamco magna. Laboris non nisi qui commodo elit dolor Lorem velit laboris duis esse. Dolore elit nostrud ullamco duis ipsum commodo duis id duis aliquip cillum nulla ex. Ullamco id deserunt ut ut in aliquip voluptate sint duis voluptate ut pariatur.</p>
    </div>
</body>
</html>